#modal-viewport {
	/*position: relative;*/
	z-index: 8;
	height: -moz-available;   
  height: -webkit-fill-available;  
  height: fill-available;
  width: -moz-available;   
  width: -webkit-fill-available;  
  width: fill-available;
	pointer-events: none;
	top: 0;
}

.hide-nav + #modal-viewport{
	margin-top:0px;
	max-height: -moz-available;   
  max-height: -webkit-fill-available;  
  max-height: fill-available;

}


.modal {
	position: absolute;
	width: 300px;
	height: 100%;
	top: 200px;
	left: 200px;
	margin: 0;
	padding: 0;
	z-index: 99;
	border: 2px solid grey;
	background: #fff;
	z-index: 2;
	user-select: none;
	pointer-events: auto;
}

.modal.selected {
    z-index: 10;
    border-color: purple;
    pointer-events: auto;

}

/** modal title **/
.modal-title-area{
  display: flex;
  justify-content: flex-end;
  padding-top: 5px;
  padding-bottom: 5px;
  list-style-type: none;
}

.modal-title-area > li {
  padding-right: 10px;
  padding-left: 5px;
  font-size: 20px; 
}

.modal-ghost {
	display: none;
	background: #999;
	opacity: 0;
  /*pointer-events: none;*/
 /* width: 300px;*/
	/*height: 200px;*/
	top: 0px;
	left: 0px;
	z-index: 20;
	

	position: absolute;
	margin: 0;
	padding: 0;

	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.modal iframe{
  border:none;
}

.modal-drag-area {
  position: absolute;
  background-color: transparent;
  min-height: 10px;
  z-index: 10;
  left: 0;
  top: 0;
  right: 0;
  height: 20px;
}

.modal-drag-area-left {
  position: absolute;
  background-color: transparent;
  z-index: 10;
  left: 0;
  top: 0;
  bottom: 0;
  width: 10px;
}

.modal-drag-area-right {
  position: absolute;
  background-color: transparent;
  z-index: 10;
  right: 0px;
  top: 0;
  bottom: 0;
  width: 10px;
}

.modal-drag-area-bottom {
  position: absolute;
  background-color: transparent;
  z-index: 10;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
}


.modal-parked {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50px;
  z-index: 100 !important;
}

.modal-parked * {
  display: none;
}

.parked-closeBtn {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  position: absolute;
  background-color: #ddd;
  right: -3px;
  top: -3px;
  
  display: none;
}
.modal-parked:hover > .parked-closeBtn{
  display: flex!important;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}